.button-red {
    background-color: #d6001c !important;
    border-color: #d6001c !important;
}
.button-red:hover {
    background-color: #ab2328 !important;
    border-color: #ab2328 !important;
}
.rpi-logo {
    max-width: 240px;
    max-height: 240px;
}
.rpi-logo-small {
    max-width: 160px;
    max-height: 160px;
}
.bg-red {
    background-color: #d6001c !important;
}